.hero-image {
    background-image: url("https://images.unsplash.com/photo-1522202176988-66273c2fd55f?ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8bGFuZ3VhZ2UlMjAlMjBsZWFybmluZyUyMCUyMGltYWdlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top:20px;
    margin-bottom:30px;
  }
   h1{
    color: cornsilk;
  }
  .header-button{
    background-color:lightgreen ;
    border-radius: 5px;
  }
  
  
  
  
.header-nav{
    text-decoration: none;
    margin-right: 10px;
    font-weight: 700;
    padding: 10px; 
    text-align: center;
    color:aliceblue ;
}
.header-bg{
  background-color:black;
}